/* applying styles */
header {
    background-color: rgb(0, 144, 149);
    height: 200px;
    text-align: center;
    padding: 50px 20px;
    font-size: 90px;
}
nav {
    width: 30%;
    background-color: rgb(196, 235, 255);
    height: 750px;
    padding-top: 10px;
    font-size: 90px;
    text-align: center;
    float: left;

}
nav ul {
    list-style-type: none;
}
nav ul li {
    padding: 20px 20px;
}
nav ul li a {
         text-decoration: none;
}
article {
    width: 70%;
    background-color: bisque;
    height: 750px;
    padding-top: 10px;
    font-size: 70px;
    float: left;
    text-align: center;
}
section::after {
    display: table;
    content: "";
    clear: both;
}
footer {
    background-color: rgb(55, 64, 96);
    text-align: center;
    padding: 20px 20px;
}